litml-stanza {
    --litml-indents-num-stanza: 0;
    --litml-text-align-stanza: left;
    display: block;
}

litml-stanza[litml-indents="0"]{
    --litml-indents-num-stanza: 0;
}
litml-stanza[litml-indents="1"]{
    --litml-indents-num-stanza: 1;
}
litml-stanza[litml-indents="2"]{
    --litml-indents-num-stanza: 2;
}
litml-stanza[litml-indents="3"]{
    --litml-indents-num-stanza: 3;
}
litml-stanza[litml-indents="4"]{
    --litml-indents-num-stanza: 4;
}
litml-stanza[litml-indents="5"]{
    --litml-indents-num-stanza: 5;
}

litml-stanza[litml-line-type="center"] {
    --litml-indents-num-stanza: 0;
    --litml-tabs-num-stanza: 0;
    --litml-text-align-stanza: center;
}

litml-stanza[litml-line-type="right"]  { 
    --litml-indents-num-stanza: 0;
    --litml-tabs-num-stanza: 0;
    --litml-text-align-stanza: right;
}

litml-stanza[litml-line-type="noindent"] { 
    --litml-indents-num-stanza: 0;
    --litml-tabs-num-stanza: 0;
    --litml-text-align-stanza: left;
}

litml-stanza[litml-line-type="tab"] { 
    --litml-tabs-num-stanza: 1;
    --litml-text-align-stanza: left;
}

litml-stanza[litml-line-type="hanging"] {
    --litml-tabs-num-stanza: -1;
    --litml-text-align-stanza: left;
}